<!DOCTYPE html>
<html>
    <head>
        <title>WIN TODAY</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
		
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    
    <body>
        <nav>
			<div class="logo">
				
			</div>
			<ul class="nav-links">
				<li><a href="/">Tees</a></li>
				<li><a href="/">Hoodies</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contactUs">Contact Us</a></li>
            </ul>
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com" target="_blank"><i class="facebook f icon"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="instagram icon"></i></a>
                        <a href="https://www.twitter.com" target="_blank"><i class="twitter icon"></i></a>
                    </li>
                </ul>
            </div>
			<div class="mobile-menu">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
        </nav>
        
        <div id="jumbotron">
            
        </div>
        <div id="jumbotron-two">
            
        </div>
    </body>
</html>