<% include ./partials/header %>

<div class="tees-header">
    <p class="title">Men & Women's Tees</p>
    <p class="title-p">Our range of tees provide flexibility in all kinds of places. Wear as a casual shirt on your days off or take it to the gym for your workouts.</p>
</div>

<div class="ui grid">
    <div class="ui stackable column centered row">
        <div class="eight wide mobile three wide computer column">
            asdf
        </div>
        <div class="eight wide mobile three wide computer column">
            asdf
        </div>
        <div class="eight wide mobile three wide computer column">
            asdf
        </div>
        <div class="eight wide mobile three wide computer column">
            asdf
        </div>
    </div>
</div>

<% include ./partials/footer %>