html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* NAVBAR AND SIDEBAR STYLES */
nav {
	position: fixed;
  	top: 0;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #e50202;
	z-index: 20;
	box-shadow: 0px 0px 5px 0px black;
}
.logo {
	width: 150px;
	height: 8vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/winTodayLogo.jpg");
}
.social {
	display: flex;
	justify-content: right;
}
.social li {
	list-style: none;
}
.social a {
	justify-content: space-around;
	color: black;
	letter-spacing: 5px;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-links li {
	list-style: none;
}
.nav-links a {
	display: inline-block;
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	z-index: 20;
}
.nav-links a:hover {
	color: black;
}

#jumbotron {
	top: 10vh;
	height: 90vh;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1502290657503-a6a8708fb99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}