html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* NAVBAR AND SIDEBAR STYLES */
nav {
	position: fixed;
  	top: 0;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #e50202;
	z-index: 20;
	box-shadow: 0px 0px 5px 0px black;
}
.logo {
	width: 150px;
	height: 8vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/winTodayLogo.jpg");
}
.social {
	display: flex;
	justify-content: right;
	font-size: 18px;
}
.social ul {
	margin: 0px;
}
.social li {
	list-style: none;
}
.social a {
	justify-content: space-around;
	color: black;
	letter-spacing: 5px;
}

.navbar {
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-link {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: 20px 0px;
	margin: 0px 20px;
	/* display: inline-block; */
	position: relative;
}
.nav-link:hover {
	color: black;
}
.nav-link::before {
	transition: 300ms;
	height: 3px;
	content: "";
	position: absolute;
	background-color: black;
}
.leftToRight::before {
	width: 0%;
	bottom: 10px;
}
.leftToRight:hover::before {
	width: 100%;
}
.mobile-menu {
	display: none;
	cursor: pointer;
}
.mobile-menu div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}
/* #jumbotron {
	top: 10vh;
	height: 90vh;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1502290657503-a6a8708fb99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
	z-index: 1;
} */
.css-slider-wrapper {
	display: block;
	background: #FFF;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
  /* Slider */
.slider {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	-webkit-transition: -webkit-transform 1600ms;
	transition: -webkit-transform 1600ms, transform 1600ms;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.slide-1 {
	
	background: #B4B0A8;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1503341603656-0f1764c9df14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
  .slide-2 {
	background: #BFB197;
	left: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1463763921632-2f6556cf3d3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  }
  .slide-3 {
	background: #9ea6b3;
	left: 200%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://images.unsplash.com/photo-1503341873906-91d1932a9758?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  }
  .slider {
	display: flex;
	justify-content: flex-start;
  }
  .slider-content {
	width: 635px;
	padding-left: 100px;
  }
  /* Slider Inner Slide Effect */
.slider h2 {
	color: white;
	font-weight: 900;
	text-transform: capitalize;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 0;
	letter-spacing: 2px;
  }
   
  .slider h4 {
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
  }
   
  .slider img {
	position: absolute;
	right: 10%;
	bottom: 0;
	height: 100%;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
  }
   
  .slide-1 img {
	right: 0;
  }
   
  .buy-now-btn {
	background-color: #e50202;
	width: 220px;
	height: 50px;
	border-radius: 30px;
	border: none;
	font-size: 15px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	padding: 0px;
	position: relative;
	cursor: pointer;
	transition: all .2s;
  }
   
  .buy-now-btn:hover {
	box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
  }
   
  .buy-now-btn:after {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 35px;
	top: 18px;
  }
   
  .slider .buy-now-btn:focus,
  .navigation .login-btn:focus {
	outline: none;
  }
  /* Animations */
.slider h2 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1s; /* Safari */
	transition-delay: 1s;
  }
  .slider h4 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1.4s; /* Safari */
	transition-delay: 1.4s;
  }
  .slider img {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1.2s; /* Safari */
	transition-delay: 1.2s;
  }
  /* Number Pagination */
.number-pagination {
	position: absolute;
	bottom: 30px;
	right: 100px;
	font-weight: bold;
  }
   
  .number-pagination span {
	font-size: 50px;
	color: white;
	letter-spacing: 4px;
	font-family: Arial, Helvetica, sans-serif;
  }
   
  .number-pagination span:after {
	font-size: 16px;
	color: #fff;
  }
  /* Slider Pagger */
.slider-pagination {
	position: absolute;
	bottom: 30px;
	width: 575px;
	left: 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
  }
  .slider-pagination label {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	background: #fff;
	margin: 0 10px;
	cursor: pointer;
  }
  /* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #e50202;
  background: transparent;
}
 
/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
 
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 img,
.slide-radio2:checked ~ .slide-2 img,
.slide-radio3:checked ~ .slide-3 img,
.slide-radio4:checked ~ .slide-4 img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

@media screen and (max-width: 972px) {
	.navbar {
		width: 60%;
	}
	.social {
		width: 15%;
	}
}
@media screen and (max-width: 882px) {
	.social {
		margin-right: 25px;
	}
}
@media screen and (max-width: 768px) {
	.navbar {
		position: absolute;
		font-size: 25px;
		top: 0;
		right: -1px;
		height: 90vh;
		top: 10vh;
		color: rgb(226, 226, 226);
		background-color: black;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transition: transform 0.5s ease-in;
		transform: translateX(100%);
		display: none;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.nav-link {
		opacity: 0;
		z-index: 2;
		font-size: 18px;
		margin: 30px;
	}
	.nav-link:hover {
		color: #e50202;
	}
	.mobile-menu {
		display: block;
	}
	.social {
		width: 150px;
		justify-content: center;
	}
}
@media only screen and (max-width: 768px) {
	.slider h2 {
	  font-size: 20px;
	}
	.slider h4 {
	  font-size: 16px;
	}
   
	.slider-content {
	  padding: 0 2%
	}
   
	.navigation {
	  padding: 0 2%;
	}
   
	.navigation-left {
	  display: none;
	}
   
	.number-pagination {
	  right: 2%;
	}
	.slider-pagination {
	  left: 2%;
	}
   
	.slider .buy-now-btn {
	  padding: 0 15px;
	  width: 175px;
	  height: 42px;
	}
   
	.slider .buy-now-btn:after {
	  top: 15px;
	}
   
	.slider &gt; img {
	  right: 2%;
	}
   
	.slide-1 &gt; img {
	  right: -110px;
	}
  }
.nav-active {
	transform: translateX(0%);
	display: flex;
	justify-content: end;
	left: 0;
	z-index: 20;
	margin-top: -1px;
	margin-bottom: 0px;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}